<!-- templates/home.html -->
{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <div class="container">
        <h1 class="text-center">Welcome to Pammvi Exports</h1>
        <div class="content d-flex justify-content-center">
            <!-- Your image in the middle of the page -->
            <img src="{{ url_for('static', filename='images/image.webp') }}" alt="Your Image" class="img-fluid">
        </div>
    </div>
{% endblock %} 
